.read-div-center{
    width: 50%;
    height: 90%;
    position: absolute;
    inset: 0; 
    margin: auto;
    min-width: 500px;
}

.ReadMain{
    position: absolute;
    right: 20px;
}

.Title-header-div{
    width: 100%;
    text-align: center;
    background-color:#e6f4ff ;
    padding: 10px;
}

.transfer-card{
    position: relative;
    margin: auto;
    width: 40%;
    background-color: #fff;
    padding:20px 20px 80px;
    border-radius: 10px;
    box-sizing: border-box;
}

.Title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* .form-button-row{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    display: flex;
} */